doctype html
html
  head
    meta(charset="utf-8")
    title

    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.min.js')
    
  body(ng-app)
    #wrapper(ng-class="{'toggled' : toggle}")
      #burger-menu(ng-click="toggle = ! toggle")
        button.btn
          .bar
          .bar
          .bar
      #sidebar
        ul.sidebar-nav
          li.sidebar-brand
            a(href="#") My Custom Sidebar
          li
            a(href="#") TFL
          li
            a(href="#") Add Record
      canvas#fadeOverlay
      #page-content
       block content
        ng-view